@model ICollection<Supervisor>
@{
    Layout = "_AdminLayout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
        </tr>

        @foreach (var supervisor in Model)
        {
            <tr>
                <th scope="row">@supervisor.Id</th>
                <td>@supervisor.User.FirstName</td>
                <td>@supervisor.User.LastName</td>
                <td>@supervisor.User.Email</td>
            </tr>
        }

</table>

