@{
    ViewData["Title"] = "Index";
    Layout = "LoginLayout";
}
<p>Zaloguj się, aby móc korzystać z systemu</p>

<form asp-action="SignIn" asp-controller="Home">
    <div class="form-group">
        <label>E-mail</label>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label>Hasło</label>
        <input type="password" class="form-control" aria-describedby="passwordHelp">
        <p>Nie masz jeszcze konta?<a asp-controller="Login" asp-action="Register"> Zarejestruj się</a></p>
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj się</button>
</form>
