@{
    ViewData["Title"] = "Post";
    Layout = "_SupervisorHomeLayout";
}

<form asp-controller="SupervisorHome" asp-action="Post">
    <div id="new_thesis" style="width: 100%; text-align:center; margin-top:25px;">
        <h4>Całkowanie według samego siebie</h4>
        <p>Jacek Marcinek 123322 jacmar@gmail.com</p>
    </div>
    <div class="d-flex flex-row" style="margin-left:25%; width: 100%;">
        <button type="submit" value="jmar_acc" name="decisionButton" class="btn btn-primary" style="width: 25%; margin-right: 5px;">Przyjmij temat</button>
        <button type="submit" value="jmar_rej" name="decisionButton" class="btn btn-primary" style="width: 25%; margin-right: 5px;">Odrzuć temat</button>
    </div>
    <div id="new_thesis" style="width: 100%; text-align:center; margin-top:25px;">
        <h4>Nowe metody różniczkowania</h4>
        <p>Piotr Nowak 44222 pnowak@o2.pl</p>
    </div>
    <div class="d-flex flex-row" style="margin-left: 25%; width: 100%;">
        <button type="submit" value="pnowak_acc" name="decisionButton" class="btn btn-primary" style="width: 25%; margin-right: 5px;">Przyjmij temat</button>
        <button type="submit" value="pnowak_rej" name="decisionButton" class="btn btn-primary" style="width: 25%; margin-right: 5px;">Odrzuć temat</button>
    </div>
    <div id="new_thesis" style="width: 100%; text-align:center; margin-top:25px;">
        <h4>Gry arcade</h4>
        <p>Michał Hanas mhanas@o2.pl</p>
    </div>
    <div class="d-flex flex-row" style="margin-left:25%; width: 100%;">
        <button type="submit" value="mhanas_acc" name="decisionButton" class="btn btn-primary" style="width: 25%; margin-right: 5px;">Przyjmij temat</button>
        <button type="submit" value="mhanas_rej" name="decisionButton" class="btn btn-primary" style="width: 25%; margin-right: 5px;">Odrzuć temat</button>
    </div>
</form>




