@model ProjectThesis.ViewModels.RegisterStudentViewModel; 
@{
    Layout = "AuthenticationLayout";
}

<p>Utwórz konto, by mieć możliwość rezerwacji tematu pracy</p>

<form asp-controller="Authentication" asp-action="Register">
    <div class="form-group">
        <label asp-for="User.Email">E-mail</label>
        <input asp-for="User.Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="User.Password">Hasło</label>
        <input asp-for="User.Password" type="password" class="form-control" aria-describedby="passwordHelp">
    </div>
    <div class="form-group">
        <label>Powtórz hasło</label>
        <input name="PasswordRepeat" type="password" class="form-control" aria-describedby="passwordHelp">
    </div>
    <div class="form-group">
        <label asp-for="User.FirstName">Imię</label>
        <input asp-for="User.FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="User.LastName">Nazwisko</label>
        <input asp-for="User.LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Student.StudentNo">Nr albumu</label>
        <input asp-for="Student.StudentNo" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Student.DegreeCycle">Stopień studiów</label>
        <select asp-for="Student.DegreeCycle" class="form-control">
            <option value="0">I</option>
            <option value="1">II</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Student.DegreeCycle">Wydział</label>
        @Html.DropDownListFor(model => model.Student.FacultyId, new SelectList(Model.Faculties.Select(f => f.Name).ToList()))
    </div>
    <div class="form-group">
        <label asp-for="Student.DegreeCycle">Kierunek</label>
        <!-- TODO: display dropdown based on chosen faculty*> -->
    </div>
    
    <button type="submit" class="btn btn-primary">Dokończ rejestrację</button>
</form>

<p>
    Masz już konto?
    <a asp-controller="Authentication" asp-action="Login"> Zaloguj się</a>
</p>

