@{
    Layout = "_AdminHomeLayout";
}

<div class="row">
    <div class="col-12 col-md-8 col-lg-6 m-auto text-center">
        <h2 class="pt-2">Witaj na koncie administratora!</h2>
        <p>Wybierz zakładkę, aby uzyskać dostęp do danych.</p>
    </div>
</div>



