#change-password{
    width: 50%;
    margin-bottom: 2px;
}

#change-email {
    width: 50%;
}

#change-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.supers-div {
    width: 50%;
    left: 35%;
    position: relative;
}