@model ProjectThesis.Models.User;
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

    <div class="text-center">
        <h1>Imie</h1>
        <p>@Html.DisplayFor(model => model.FirstName)<p>
        <h1>Nazwisko</h1>
        <p>@Html.DisplayFor(model => model.LastName)</p>
        <h1>Hasło</h1>
        <p>@Html.DisplayFor(model => model.Password)</p>
        <h1>Id</h1>
        <p>@Html.DisplayFor(model => model.Id)</p>
    </div>